<body style="background-image: url(images/HOMEBG.jpg); background-size: cover; background-repeat:no-repeat">

<h4 style="margin-left: 50px; color:rgb(255, 211, 211)">Welcome {{name}} !</h4>
{{#if comments}}
        {{#each comments}}
        
        <br>
            <p style='text-decoration:none; font-size:25px; padding-bottom:5px; color:white'>{{title}}</p>
            <div style=" color:rgb(197, 197, 197)">{{createdAt}}</div>
            <br>
            
            <a href="/comments/edit/{{_id}}" class="btn btn-float" style="width: min-content;"> edit comment</a>
                <br>
                <form action="/comments/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE" >
                    <button type="submit" class="btn red" style="margin-top:5px">
                        delete comment
                    </button>
                </form>
            
        </br>
        {{/each}}
    </body>

{{else}}
<p style="margin-left: 50px; color:rgb(139, 139, 139)">You have not given feedback yet :(</p>
{{/if}}